<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
			    <rule name="block_users_allow_robots_only" stopProcessing="true">
					<match url=".*" />
					<conditions>
					   <add input="{HTTP_USER_AGENT}" pattern="^(Mozilla.*(Gecko|KHTML|MSIE|Presto|Trident)|Opera).*$" />
					</conditions>
					<action type="CustomResponse" statusCode="403"
					   statusReason="Forbidden: Access is denied."
					   statusDescription="You do not have permission to view this page." />
				 </rule>
                <rule name="Redirect Basemodel Pages">
                    <match url="(^[A-Za-z0-9\/-]*)" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="basemodelid=(\d*)" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/basemodelid/{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
